@font-face {
  font-family: "Comfortaa";
  src: url("/static/Comfortaa-VariableFont_wght.ttf");
}

h1,
h2,
h3,
h4,
h5,
nav,
th,
button {
  font-family: "Comfortaa" !important;
}

pre {
  padding: 1rem; /* Add horizontal and vertical padding */
  background-color: #f4f4f4; /* Optional: for better visibility */
  border: 1px solid #ddd; /* Optional: to create a styled box */
  overflow: auto; /* Ensures content scrolls instead of breaking the layout */
  box-sizing: border-box; /* Ensures padding is included in the element’s width */
  margin: 0;
  white-space: pre-wrap;
}

tbody {
  font-size: 0.75rem !important;
}

/* Toast styles */
.toast-container {
  position: fixed;
  top: var(--spacing-md);
  right: var(--spacing-md);
  z-index: 10000;
}

.toast {
  background-color: var(--secondary-color);
  color: var(--text-color-light);
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-subtle);
  margin-bottom: var(--spacing-sm);
  transition: opacity var(--transition-fast);
}

.toast-exit {
  opacity: 0;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: var(--spacing-lg);
  border: 1px solid #888;
  width: 80%;
  border-radius: var(--border-radius-md);
}

.modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the menu by default on small screens */
.menu.hidden {
  display: none;
}

/* Responsive behavior */
@media (min-width: 768px) {
  .menu {
    display: flex !important; /* Always show menu on larger screens */
  }

  button[aria-label="Toggle Menu"] {
    display: none; /* Hide the toggle button on larger screens */
  }
}

.letter-animation {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.letter-animation.loading {
  transform: translate(var(--x, 0), var(--y, 0)) rotate(var(--rotation, 0deg));
}

.active {
  font-weight: bold;
  color: var(--pico-color-red-500);
}
