{% extends "_layout.html" %}

{% block title %}Job Details<br />
<span style="font-size: 0.5em">
    Run
    <code style="font-size: 0.75em">
        {{ job.task.name }}
    </code>
    {{ job.schedule }}
</span>
{%endblock %}

{% block page_menu %}
<div style="display: flex; justify-content: flex-end; gap: 5px">
    <details class="dropdown">
        <summary role="button">Actions</summary>
        <ul dir="rtl">
            <li><button class="pico-background-green-500" style="border: none; width: 100%"
                    onclick="runJob()">Run</button></li>
            <li><button class="secondary" style="border: none; width: 100%">Edit</button></li>
            <li><button class="pico-background-red-500" style="border: none; width: 100%"
                    onclick="deleteJob()">Delete</button></li>
        </ul>
    </details>
</div>
{% endblock %}

{% block content %}
<div>

    <!-- Basic Info -->
    <section>
        <article>
            <h3 class="text-lg font-semibold mb-2">Basic Information</h3>
            <table>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td style="font-family: monospace">
                            {{ job.id[:4] }}...{{ job.id[-4:] }}
                            <span data-tooltip="Copy to clipboard" onclick="alert('{{ job.id }}')"
                                style="border:none; cursor:pointer">📋</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Task</td>
                        <td>
                            <details>
                                <summary>
                                    <b>{{ job.task.title }}</b>
                                    <code>{{ job.task.name }}</code>
                                </summary>
                                <small><b>Parameters</b></small>
                                <pre>{{ job.params }}</pre>
                            </details>
                        </td>
                    </tr>
                    <tr>
                        <td>Created</td>
                        <td id="jobCreated">{{ job.created_at.isoformat() }}</td>
                    </tr>
                    <tr>
                        <td>Last Updated</td>
                        <td id="jobUpdated">{{ job.updated_at.isoformat() }}</td>
                    </tr>
                    <tr>
                        <td>Options</td>
                        <td>
                            {% for key, value in job.options.model_dump().items() %}
                            <p><code>{{ key }} = {{ value }}</code></p>
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
    <!-- Schedule Info -->
    <section>
        <article>
            <h3 class="text-lg font-semibold mb-2">Schedule</h3>
            <table class="table w-full">
                <tbody>
                    <tr>
                        <td class="font-medium">Schedule Type</td>
                        <td id="scheduleType">
                            <kbd>{{ "interval" if job.schedule.interval else "cron" }}</kbd>
                        </td>
                    </tr>
                    <tr>
                        <td class="font-medium">Current Schedule</td>
                        <td id="scheduleType">{{ job.display_schedule() }}</td>
                    </tr>
                    <tr>
                        <td class="font-medium">Next Run</td>
                        <td id="nextRun">{{ job.next_run }}</td>
                    </tr>
                    <tr>
                        <td class="font-medium">Last Run</td>
                        <td id="lastRun">{{ job.last_run }}</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
    <section>
        <!-- Execution History -->
        <article>
            <h3 class="text-lg font-semibold mb-2">Execution History</h3>
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th>Started</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="executionHistory"></tbody>
                </table>
            </div>
        </article>
    </section>
</div>
{% endblock %}

{% block scripts %}
<script>
    function deleteJob() {
        if (confirm("Are you sure you want to delete this job?")) {
            const store = Alpine.store("data")
            store.notifier.addNotification({
                message: "Deleting job...",
                type: "info",
                group: "ajax"
            });
            fetch("/api/jobs/{{ job.id }}", {
                method: "DELETE",
            })
                .then((response) => {
                    if (response.ok) {
                        window.location.href = "/jobs";
                        store.notifier.addNotification({
                            message: "Job deleted",
                            type: "success",
                            group: "ajax"
                        });
                    } else {
                        store.notifier.addNotification({
                            message: "Failed to delete job",
                            type: "error",
                            group: "ajax"
                        });
                    }
                })
                .catch((error) => {
                    console.error(error);
                    store.notifier.addNotification({
                        message: "Failed to delete job",
                        type: "error",
                        group: "ajax"
                    });
                });
        }
    }

    function runJob() {
        fetch(`/api/jobs/${job.id}/run`, {
            method: "POST",
        })
            .then((response) => {
                if (response.ok) {
                    store.notifier.addNotification({
                        message: "Job started",
                        type: "success",
                        group: "ajax"
                    });
                } else {
                    store.notifier.addNotification({
                        message: "Failed to start job",
                        type: "error",
                        group: "ajax"
                    });
                }
            })
            .catch((error) => {
                console.error(error);
                store.notifier.addNotification({
                    message: "Failed to start job",
                    type: "error",
                    group: "ajax"
                });
            });
    }

    function showJobForm() {
        // TODO: Use showModal to show the job form
    }
</script>
{% endblock %}