{% extends "_layout.html" %}

{% block title %}Jobs{% endblock %}

{% block page_menu %}
<div style="display: flex; justify-content: flex-end;">
    <button onclick="showJobForm()">Add Job</button>
</div>
{% endblock %}

{% block content %}
<div class="table-container">
    <table id="jobsTable" aria-label="Scheduled Jobs">
        <thead>
            <tr>
                <th>Name</th>
                <th>Params</th>
                <th>Last Run</th>
                <th>Next Run</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/jobs.js"></script>
{% endblock %}