{% extends "_layout.html" %}
{% block title %}Logs{% endblock %}

{% block content %}
<div class="table-responsive">
    <table id="logsTable" class="display nowrap" style="width:100%" aria-label="Job Execution Results">
        <thead>
            <tr>
                <th scope="col">Job</th>
                <th scope="col">Started At</th>
                <th scope="col">Duration</th>
                <th scope="col">Status</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                <th>Job</th>
                <th>Started At</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/logs.js"></script>
{% endblock %}