{% extends "_layout.html" %}
{% block title %}Logs{% endblock %}

{% block content %}
<div class="table-container">
    <table id="logsTable" aria-label="Job Execution Results">
        <thead>
            <tr>
                <th>Job</th>
                <th>Started At</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/logs.js"></script>
{% endblock %}