{% extends "_layout.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container" x-data>
    <section x-data="$store.data" x-init="$store.data.fetchDashboardData()">
        <div class="grid">
            <article class="stat-card" onclick="window.location.href='/tasks'">
                <h3>Tasks</h3>
                <p class="value" x-text="metrics().tasks"></p>
            </article>
            <article class="stat-card" onclick="window.location.href='/jobs'">
                <h3>Jobs</h3>
                <p class="value" x-text="metrics().jobs"></p>
            </article>
            <article class="stat-card" onclick="window.location.href='/logs'">
                <h3>Logs</h3>
                <p class="value" x-text="metrics().logs"></p>
            </article>
            <article class="stat-card">
                <h3>Errors</h3>
                <p class="value"
                    x-html="`${metrics().errors.count} <span style='font-size: 0.5em; font-weight: 300'>${metrics().errors.rate}%</span>`">
                </p>
            </article>
        </div>
    </section>

    <section>
        <article>
            <header>
                <h3>Upcoming Activity</h3>
            </header>
            <template x-if="$store.data.analytics.upcomingExecutions.length === 0">
                <p class="text-muted">No upcoming executions</p>
            </template>
            <template x-if="$store.data.analytics.upcomingExecutions.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Job</th>
                            <th scope"col">Params</th>
                            <th scope="col">Next Run</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="job in $store.data.analytics.upcomingExecutions" :key="job.id">
                            <tr>
                                <td><a x-bind:href="`/jobs/${job.id}`" x-text="job.name"></a></td>
                                <td>
                                    <pre x-text="JSON.stringify(job.params, null, 2)"></pre>
                                </td>
                                <td x-text="formatDate(job.next_run)"></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </template>
        </article>
    </section>

    <section>
        <article>
            <header>
                <h3>Recent Activity</h3>
            </header>
            <template x-if="$store.data.analytics.recentActivity.length === 0">
                <p class="text-muted">No recent activity</p>
            </template>
            <template x-if="$store.data.analytics.recentActivity.length > 0">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Job</th>
                            <th scope="col">Params</th>
                            <th scope="col">When</th>
                            <th scope="col">Duration</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: .75rem">
                        <template x-for="exec in $store.data.analytics.recentActivity" :key="exec.id">
                            <tr>
                                <td>
                                    <a x-bind:href="`/results/${exec.job.id}`" x-text="exec.job.name"
                                        data-tooltip="Show log"></a>
                                </td>
                                <td>
                                    <pre x-text="JSON.stringify(exec.job.params, null, 2)"></pre>
                                </td>
                                <td x-text="formatTimeAgo(exec.started_at)"></td>
                                <td x-show="exec.duration !== null" x-text="formatDuration(exec.duration)"></td>
                                <td x-text="getStatusEmoji(exec.status)"></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </template>
        </article>

    </section>

</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/store.js"></script>
</script>
{% endblock %}